header {
  height: auto;
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 10;
  overflow: hidden;
}
main {
  margin-top: 5.8%;
}
.black-bg {
  background-color: black;
  padding: 5px 40px;
}

.menu {
  padding: 5px 0px;
  float: left;
  cursor: pointer;
}

ul {
  list-style: none;
  float: right;
  margin: 5px 0;
}

li {
  display: table-cell;
  padding-right: 10px;
}

li svg {
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}

.logo {
  padding-top: 9px;
  padding-left: 10px;
}

.icon:hover > svg {
  color: #c30
}

.header-search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  margin: 0px -466px;
  position: absolute;
  width: 34%;
}

.language-dropdown {
  background-color: #000;
  color: #444;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  right: 25px;
  display: grid;
  border: 1px solid #fff;
  border-radius: 5px;
}

.language-dropdown span {
  padding: 10px;
  cursor: pointer;
}
.language-dropdown span:first-child {
  border-bottom: 1px solid #fff;
}

.selected {
  color: #fff;
}

.menu-box {
  display: block;
  float: left;
  position: absolute;
  margin: 0;
  left: 0;
  width: 50%;
  color: #fff;
}
.menu-box img {
  height: 32px;
  width: 32px;
}
.main-menu span {
  padding: 10px;
}
.menu-shadow {
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  position: fixed;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.main-menu {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  background-color: #c30;
  left: 0;
  margin: 0;
  padding: 30px 40px;
  display: flex;
  text-transform: uppercase;
}

.main-menu .item{
  padding: 5px 0;
  display: flex;
}

.main-menu .item1{
  padding: 10px 10px;
}

.part-0 {
  z-index: 6;
  box-shadow: -19px -1px 13px 1px #000;
  padding: 10px 30px;
  display: grid;
}

.part-1 {
  width: 90%;
  background-color: #f27406;
  z-index: 5;
  box-shadow: -19px -1px 13px 1px #000;
}

.part-2 {
  width: 80%;
  background-color: #f29f03;
  z-index: 4;
  box-shadow: -19px -1px 13px 1px #000;
}

.part-3 {
  width: 70%;
  background-color: #f2b705;
  z-index: 3;
  box-shadow: -19px -1px 13px 1px #000;
}

.float-right {
  float: right;
  text-align: right;
  cursor: pointer;
}


/* Desktops, large screens */
@media only screen and (max-width: 1200px) {
  
}

/* Small screens, laptops */
@media only screen and (max-width: 1024px) {
  
}
/* iPads, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 250%;
  }
  svg {
    color: #fff !important;
  }
  header { width: 90%; }
  .part-1 { width: 85%;}
  .part-2 { width: 75%;}
  .part-3 { width: 65%;}
  .menu-logo {
    width: 117px !important;
  }
  main {
    margin-top: 7.8%;
  }
  .header-search-input {
    margin: 0px -286px;
  }
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
  .logo {
    width: 117px;
    padding-top: 5px;
  }
  .header-col svg {
    height: 15px !important;
    width: 15px !important;
  }
  .black-bg {
    padding: 0 10px;
  }
  .header-col {
    width: 49.2%;
  }
  .logo {
    width: 153px;
    padding-top: 7px;
  }
  .header-col svg {
    height: 25px !important;
    width: 25px !important;
  }
  .nav {
    /*margin: 7px 0px 0px 16px;*/
  }
  .language-dropdown{
    top: 40px;
    right: 5px;
    padding: 0;
    font-size: 70%;
    z-index: 1;
  }
  header {
    width: 96%;
    height: 44px;
  } 
  header .row {
    padding: 5px 0;
  }
  main {
    margin-top: 44px;
  }

  .menu-box { width: 100%; }
  .main-menu { padding: 30px 10px; }
  .main-menu span {
    padding: 10px 7px;
  }
  .part-0 .menu-box img:nth-child(2) { height: 23px; padding-left: 0;}
  .part-0 .menu-box img { height: 16px;}
  .part-0 { padding: 0;}
  .item1 img { height: 28px; width: 28px;}
  .part-1 img { height: 28px; width: 28px;}
  .part-2 img { height: 28px; width: 28px;}
  .part-3 img { height: 28px; width: 28px;}
}

@media only screen and (max-width: 375px) {
  .logo {
    width: 143px;
    padding-top: 5px;
  }
  .header-col svg {
    height: 20px !important;
    width: 20px !important;
  }
  header {
    width: 95%;
    height: 44px;
  } 
  header .row {
    padding: 5px 0;
  }
  main {
    margin-top: 44px;
  }

  .main-menu span {
    padding: 9px 4px;
  }
  .part-0 img:nth-child(2) { 
    width: 143px;
    padding-left: 0;
    padding-top: 6px;
    height: 21px;
  }
  .part-0 img:first-child { height: 16px;}
  .part-0 { padding: 0;}
  .part-0 .item1 img { height: 28px; width: 28px;}
}

@media only screen and (max-width: 320px) {
  .menu {
    padding: 10px 0px;
    float: left;
  }
  .logo {
    width: 116px;
    padding-top: 10px;
  }
  .header-col svg {
    height: 16px !important;
    width: 16px !important;
  }
  .nav {
    margin: 11px 0px 0px 13px
  }
}