.border-box a{
  color: #c30;
  float: right;
}

.bottom-btn1 {
  margin: 0px 16px 0 0;
}

/* Desktops, large screens */
@media only screen and (max-width: 1200px) {
  
}

/* Small screens, laptops */
@media only screen and (max-width: 1024px) {
  
}
/* iPads, Tablets */
@media only screen and (max-width: 768px) {
  
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
  .border-box {
    width: 89%;
  }
  .bottom-btn1 {
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
  
}

@media only screen and (max-width: 320px) {
  .border-box {
    width: 86% !important;
  }
}